body {
    text-align: center;
}
table{
    margin:auto;
}
input{
    text-align: right;
}
div {
    background-color: lightblue;
    border: solid;
    margin: auto;
    /*padding: 1px;*/
    /*border-left: 1px;*/
    /*border-right: 1px;*/
    /*padding-left: 1px;*/
    /*padding-right: 1px;*/
    width: 300px;
}
